<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.nightlabs.editor2d"
   name="Editor2D Plug-in"
   version="1.0.0"
   provider-name="NightLabs.com"
   class="org.nightlabs.editor2d.EditorPlugin">
   <runtime>
      <library name="org.nightlabs.editor2d.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.nightlabs.base"/>
      <import plugin="org.holongate.j2d"/>
      <import plugin="org.nightlabs.classsharing"/>
      <import plugin="org.nightlabs.editor2d.viewer"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
   </requires>

   
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.nightlabs.editor2d.category"
            class="org.nightlabs.editor2d.views.LayerView"
            icon="icons/views/LayerView.16x16.png"
            id="org.nightlabs.editor2d.views.LayerView"
            name="%view.layer.name">
	  </view>
      <category
            id="org.nightlabs.editor2d.category"
            name="%category.name"/>
      <view
            allowMultiple="false"
            category="org.nightlabs.editor2d.category"
            class="org.nightlabs.editor2d.views.QuickOptionsView"
            icon="icons/views/QuickOptionsView.16x16.png"
            id="org.nightlabs.editor2d.views.QuickOptionsView"
            name="%view.quickOptions.name"/>            
   </extension>
   <extension
         id="app"
         name="%application.name"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.nightlabs.editor2d.app.Editor2DApplication"/>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.nightlabs.editor2d.app"
            name="%product.name">
         <property
               name="appName"
               value="%application.name"/>
         <property
               name="windowImages"
               value="icons/EditorPlugin-Logo.16x16.png"/>
         <property
               name="aboutText"
               value="%about.text"/>
         <property
               name="aboutImage"
               value="icons/EditorPlugin-aboutImage.24x24.png"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.nightlabs.editor2d.EditorPerspective"
            icon="icons/EditorPlugin-Logo.16x16.png"
            id="org.nightlabs.editor2d.EditorPerspective"
            name="%perspective.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nightlabs.editor2d.Editor"
            contributorClass="org.nightlabs.editor2d.EditorActionBarContributor"
            default="false"
            extensions="e2d"
            icon="icons/EditorPlugin-Logo.16x16.png"
            id="org.nightlabs.editor2d.Editor"
            name="%editor.name"/>
   </extension>

   <extension
         point="org.nightlabs.base.editorfilefilter">
      <editorFileFilter pattern="org\.nightlabs.*"/>
   </extension>
   <extension
         point="org.nightlabs.base.newfileaction">
      <action
            class="org.nightlabs.base.action.NewFileAction"
            fileExtension="e2d"
            title="%action.new.text"
            tooltip="%action.new.tooltip"/>
      <category
            id="%category.name"
            name="%category.name"/>
   </extension>
   <extension
         point="org.nightlabs.base.editor2perspective">
      <registry
            editorID="org.nightlabs.editor2d.Editor"
            perspectiveID="org.nightlabs.editor2d.EditorPerspective"/>
   </extension>
   <extension
         point="org.nightlabs.classsharing.globalclasspublish">
      <globalClassPublish pattern="org\.nightlabs\.base\.config\..*"/>
      <globalClassPublish pattern="org\.nightlabs\.editor2d\.config\..*"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.nightlabs.editor2d"
            description="%command.rotate.description"
            id="org.nightlabs.editor2d.rotate"
            name="%command.rotate.name"/>
      <command
            categoryId="org.nightlabs.editor2d"
            description="%command.editShape.description"
            id="org.nightlabs.editor2d.editShape"
            name="%command.editShape.name"/>
      <command
            categoryId="org.nightlabs.editor2d"
            description="%command.orderOneUp.description"
            id="org.nightlabs.editor2d.orderOneUp"
            name="%command.orderOneUp.name"/>
      <command
            categoryId="org.nightlabs.editor2d"
            description="%command.orderOneDown.description"
            id="org.nightlabs.editor2d.orderOneDown"
            name="%command.orderOneDown.name"/>
      <command
            categoryId="org.nightlabs.editor2d"
            description="%command.orderToLocalBack.description"
            id="org.nightlabs.editor2d.orderToLocalBack"
            name="%command.orderToLocalBack.name"/>
      <command
            categoryId="org.nightlabs.editor2d"
            description="%command.orderToLocalFront.description"
            id="org.nightlabs.editor2d.orderToLocaFront"
            name="%command.orderToLocalFront.name"/>
      <command
            categoryId="org.nightlabs.editor2d"
            description="%command.showFigureToolTip.description"
            id="org.nightlabs.editor2d.showFigureToolTip"
            name="%command.showFigureToolTip.name"/>
      <command
            categoryId="org.nightlabs.editor2d"
            description="%command.showStatusLine.description"
            id="org.nightlabs.editor2d.showStatusLine"
            name="%command.showStatusLine.name"/>
      <command
            categoryId="org.nightlabs.editor2d"
            description="%command.zoomSelection.description"
            id="org.nightlabs.editor2d.zoomSelection"
            name="%command.zoomSelection.name"/>
      <command
            categoryId="org.nightlabs.editor2d"
            description="%command.zoomAll.description"
            id="org.nightlabs.editor2d.zoomAll"
            name="%command.zoomAll.name"/>
      <category
            description="%command.category.editor2d.description"
            id="org.nightlabs.editor2d"
            name="%command.category.editor2d.name"/>
      <context
            description="%command.context.editor2d.description"
            id="org.nightlabs.editor2d"
            name="%command.context.editor2d.name"
            parentId="org.eclipse.ui.contexts.window"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.nightlabs.editor2d.rotate"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+R"/>
      <key
            commandId="org.nightlabs.editor2d.editShape"
            contextId="org.nightlabs.editor2d"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+E"/>
      <key
            commandId="org.nightlabs.editor2d.orderOneUp"
            contextId="org.nightlabs.editor2d"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Up"/>
      <key
            commandId="org.nightlabs.editor2d.orderOneDown"
            contextId="org.nightlabs.editor2d"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Down"/>
      <key
            commandId="org.nightlabs.editor2d.orderToLocaFront"
            contextId="org.nightlabs.editor2d"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Shift+Up"/>
      <key
            commandId="org.nightlabs.editor2d.orderToLocalBack"
            contextId="org.nightlabs.editor2d"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Shift+Down"/>
      <key
            commandId="org.nightlabs.editor2d.showFigureToolTip"
            contextId="org.nightlabs.editor2d"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Shift+T"/>
      <key
            commandId="org.nightlabs.editor2d.showStatusLine"
            contextId="org.nightlabs.editor2d"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Shift+S"/>
      <key
            commandId="org.nightlabs.editor2d.zoomSelection"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Alt+S"/>
      <key
            commandId="org.nightlabs.editor2d.zoomAll"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Shift+A"/>
   </extension>
<!--
	<extension
			point="org.eclipse.ui.actionSets">
		<actionSet
			label="Update"
			visible="true"
			id="org.nightlabs.editor2d.softwareUpdates">
		<menu
			label="Update"
			id="help.updateMenu">
		</menu>
		<action
			label="Update"
			class="rcpmail.rcp.InstallWizardAction"
			menubarPath="help.updateMenu"
			id="org.nightlabs.editor2d.update">
		</action>
		</actionSet>
	</extension>		
-->
</plugin>
